#table {
   margin: auto;
   width: 50% !important;
}
.table-scrollable{
    overflow: auto;
}
.chartPos{
  width:550px;
  height:430px;
  margin: auto;
  width: 50% !important;
  position: relative;
}
#myPieChart{
position: absolute;
}
#myLineChart{
  position: absolute;

}
#myBarChart{
  position: absolute;

}
footer{
  text-align: center;
}
