html{
  height: 100%;
  width: 100%;
  position: relative;
  min-height: 100%;
}
h1{
text-align:center;
}
body{
  background: silver;
  margin: 0 0 100px;

}
table {
  border: 2px solid white;
  height: 50%;
  border-radius: 20px;
  margin: 5%;
  width: 50%;
  margin: 0 auto;
}
.table{
background-color: black;
color: white;
padding: 10px;
border: 4px solid white;

}
table th  {
  border: 1px solid black;
  background-color: grey;
  color: white;
  font-size: 24px;
  padding: 5px;
  width: 250px;
  border-radius: 20px;

}
table td{
  text-align: center;
  font-size: 23px;

}
.titlecol{
  border: 2px solid black;
  background-color: grey;
  width: 20%;
  color: white;
  font-size: 24px;
  padding: 5px;
  border-radius: 20px;

}
#charts{
  position:absolute;
  width:100%;
  height:70%;
  background-color: blue;
  border: 2px solid blue;

}
.bar{
  position: relative;
}
button{
  background-color: white;
  width: 33%;
  height: 30px;
  border-radius: 20px;

}
#buttons{
  margin:10px;
}
#myPieChart{
  position:absolute;
  width: 50%;
  height: 50%;
  top: 5%;
  right:25%;
  margin: 0 auto;
}
#myBarChart{
  position:absolute;
  width: 50%;
  height: 50%;
  top:5%;
  right:25%;
  margin: 0 auto;
}
#myLineChart{
  position:absolute;
  width: 50%;
  height: 50%;
  top: 5%;
  right:25%;
  margin: 0 auto;
}
